{% extends 'base.html' %}
{% block content %}
<H1>Алиса в стране чудес</H1>
<h2>Глава 1</h2>
<p> <span>А</span>лисе  наскучило  сидеть с сестрой без дела на берегу реки; разок-другой она заглянула в книжку, которую читала сестра,  но там не было ни
<p>картинок, ни разговоров.<ul type="circle">
    <p> <li>Что толку в книжке, -- подумала Алиса, -- если в ней нет
<p>ни картинок, ни разговоров?</li></ul>
    <p>Она  сидела  и  размышляла, не встать ли ей и не нарвать ли цветов для венка; мысли ее текли медленно и несвязно -- от жары ее клонило в 
    <p>сон. Конечно, сплести венок было бы очень приятно, но стоит ли ради этого подыматься?
   <p> Вдруг мимо пробежал{{ poem.text | linebreaksbr }}
   
   <h3>Продолжить рассказ:</h3>
   <form method="post">
   <div class="form-group">
   <div class="row">
    <div class="col">
	<label for="Name">Ваше имя:</label>
      <input style="width : 300px;" type="text" class="form-control" id="Name" placeholder="Ваше имя">
    </div>
	</div>
    <small id="emailHelp" class="form-text text-muted">Это нужно для того чтобы другие пользователи могли видеть кто изменил данный текст.</small><br>
	<label for="exampleFormControlTextarea1">Ваше продолжение повести:</label>
    <textarea rows=15 class="form-control"  name="text1" id="exampleFormControlTextarea1" rows="3"></textarea>
 </div>
 </form>
 <button type="button" class="btn btn-primary btn-sm">Добавить абзац</button>
<button type="button" class="btn btn-secondary btn-sm">Закончить текст</button>
    <button type="button" class="btn btn-warning">Создать новый текст</button>
<button  style="float: right;" type="button" class="btn btn-info" >К 2 главе</button>
{% endblock %}
