{% extends 'base.html' %}
{% block content %}

    {% if poem.text == '' %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="title">Введите название текста:</label>
                        <input id="title" type="text" class="form-control" name="name"
                               placeholder="Введите название рассказа"/><br>
                        <label for="Name">Ваше имя:</label>
                        <input style="width : 300px;" type="text" class="form-control" id="Name" placeholder="Ваше имя">
                    </div>
                </div>
                <small id="emailHelp" class="form-text text-muted">Это нужно для того чтобы другие пользователи могли
                    видеть кто изменил данный текст.
                </small>
                <br>
                <input type="hidden" value="{{ poem.id }}" name="id"/>
                <label for="exampleFormControlTextarea1">Ваш текст:</label>
                <textarea rows=15 class="form-control" name="text1" id="exampleFormControlTextarea1"
                          rows="3"></textarea>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Добавить абзац" name="button"/>
                <a href="/?new=true" class="btn btn-warning">Создать новый текст</a>
            </div>
        </form>
    {% else %}

        <h3>Продолжить рассказ:</h3>
        {{ poem.name | linebreaksbr }}
        {{ poem.text | linebreaksbr }}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="Name">Ваше имя:</label>
                        <input style="width : 300px;" type="text" class="form-control" id="Name" placeholder="Ваше имя">
                    </div>
                </div>
                <small id="emailHelp" class="form-text text-muted">Это нужно для того чтобы другие пользоваvтели могли
                    видеть кто изменил данный текст.
                </small>
                <br>
                <input type="hidden" value="{{ poem.id }}" name="id"/>
                <label for="exampleFormControlTextarea1">Ваше продолжение:</label>
                <textarea rows=15 class="form-control" name="text1" id="exampleFormControlTextarea1"
                          rows="3"></textarea>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Добавить абзац" name="button"/>
                <input type="submit" class="btn btn-secondary" value="Закончить текст" name="button"/>
                <a href="/?new=true" class="btn btn-warning">Создать новый текст</a>
                <!--<button style="float: right;" type="button" class="btn btn-info">К 2 главе</button>-->
            </div>
        </form>
    {% endif %}
{% endblock %}